*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(18, 6, 48);
}
 
.container{
    width: 1100px;
    margin: 0 auto;
}
/* -------------------------------------
                header               
---------------------------------------*/

.upper{
    display: flex;
    height: 750px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.upper img{
    width: 100%;
}

.u-half h1{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin-bottom:30px;
}

.u-half a{
    background-color: rgb(0, 26, 255);
    padding: 10px 35px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.5s;
}
  
.u-half a:hover{
    background-color: rgba(0, 26, 255, 0);
    letter-spacing: 5px;
}

.u-half a:hover .u-half i{
    background-color: rgba(0, 26, 255, 0);
    font-size: 10px;
}


.u-half i{
    background-color: rgba(0, 0, 255, 0);
}

.u-half p{
    width: 90%;
}

.u-half img:hover{
    transform: scale(1.2);
    transition: transform 2s;
}

/* -------------------------------------
                inner-one               
---------------------------------------*/

.inner-one{
    padding: 20px;
}
.player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player-box{
    width: 316px;
    padding: 15px;
    background-image: linear-gradient(rgb(29, 11, 58), rgb(46, 1, 104));
    border: 1.5px solid #171169;
    box-shadow: 0px 0px 10px 1px rgba(142, 151, 179, 0.603);
    border-radius: 10px;
    overflow: hidden;
}

.player-box img{
    width: 100%;
    border: 1px solid rgb(17, 7, 110);
    transition: 0.5s;
    border-radius: 5px;
}

.p-box-heading{
    background-color: #ffffff00;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0px;
    z-index: 2;
}

.p-box-p{
    background-color: #ffffff00;
    color: #bebebe;
    font-size: 16px;
    font-weight: 400;
    margin-bottom:15px ;
}

.player-box:hover img{
    transform: scale(1.1);
    width: 100%;
}
/* -------------------------------------
                inner-two               
---------------------------------------*/
.highlight{
    display: flex;
    height: 750px;
    align-items: center;
    padding: 0px 20px;
}

.high-half h1{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 15px;
    margin-top: -15px;
}


.high-half p{
    background-color: rgba(208, 233, 255, 0);
    padding-right: 90px;
}

.high-half img{
    width: 560px;
    border: 1.5px solid #ffffff;
}

.high-half p{
margin-bottom: 35px;
}

.high-half a{
    margin-top: 50px;
    background-color: rgb(0, 26, 255);
    padding: 10px 35px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
}

.high-half i{
    color: #fff;
    background-color: rgb(0, 26, 255);
    margin-left: 5px;
}

/* -------------------------------------
                Footer               
---------------------------------------*/


.f-class{
    text-align: center;
    color: rgb(204, 204, 204);
}

.footer-bottom img{
    width: 250px;
}

.footer-bottom i{
    padding: 8px;
    margin: 5px 5px 10px 5px;
    border-radius: 50%;
    border: 1px solid rgb(157, 146, 255);
}

.f-foot{
    margin: 10px;
}



/* -------------------------------------
              Media Queary               
---------------------------------------*/

/* ---------------Mobile-------------- */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .upper{
        flex-direction: column;
    }
    .u-half{
        padding-bottom: 50px;
    }
    .player{
        grid-template-columns: repeat(1, 1fr);
    }
    .player-box{
        width: 80%;
        margin: 0 auto;
    }
    .highlight{
        flex-direction: column;
        padding: 0px 20px;
    }
    .high-half img{
        margin-top: 50px;
        width: 100%;
    }    
    .high-half-extra{
        margin-top: 10px;
    }
    .footer-bottom{
        margin-top: 20%;
    }
}



/* ---------------  Tab  -------------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .player{
        grid-template-columns: repeat(2, 1fr);
    }
    .player-box{
        width: 85%;
        margin: 0 auto;
    }
    .highlight{
        flex-direction: column;
        padding: 0px 20px;
    }
    .high-half img{
        margin-top: 50px;
        width: 100%;
    }    
    .footer-bottom{
        margin-top: 20%;
    }
}
